body {
	padding-bottom:0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-image:linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
	color:white;
}
.tab-pane {
	height:300px;
}
textarea {
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
textarea.form-control {
	font-size:16px;
}
.pasteValue {
	display:none;
}
#OptionsTabPane ul {
	margin-left:2em;
}
